<h1>S4_Initiation_Rails::J2_first_steps</h1>


<%= render 'bloc_service', title: "1 a Pages Statiques", task: "searchjmp", post_remote: je_me_presente_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "2 b Movie DataBase" , task: "searchmm", post_remote: movie_maker_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "3 c Formulaires"    , task: "searchrf", post_remote: re_former.new_user_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
