<h1>S8_JavaScript::J3_JavaScript</h1>


<%= render 'bloc_service', title: "1 a warnup",       task: "warmup",       post_remote: projects_oeuvres8_3_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "2 b calculatrice", task: "calculatrice", post_remote: projects_oeuvres8_3_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "3 c simon",        task: "simon",        post_remote: projects_oeuvres8_3_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
