h2
{
  color: RGB(100,200,150);
}
h1, p
{
  text-align: center;
}
/*image*/
a
{
  float:left;
}


h1
{
  background-image: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}

@font-face
{
  font-weight: 400;
  font-size: 1.2em;
  font-family: serif;
}

h1
{
  border-width: thin;
  border: double;
  border-color: red green blue yellow;
  /* border-color: inherit; */
  border-style: dotted solid double dashed;
  border-radius: 5px;
}

h1
{
  text-shadow: #FC0 1px 0 10px;
}
