# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

# Ignore application configuration data generated
/config/application_fb.yml
/All_Projects/images/
/images_slack
/slack.csv
*.csv
*.xlsx

moderncv/


#see zizani directory
/app/assets/zizani/*
!/app/assets/zizani/pictures
!/app/assets/zizani/*.pdf
!/app/assets/zizani/*.json

#THP
/app/services/the_hacking_project/*
!/app/services/the_hacking_project/s2_decouverte_ruby
!/app/services/the_hacking_project/s3_ruby_intermediaire/j1_excel/format_json_csv.rb
!/app/services/the_hacking_project/s3_ruby_intermediaire/j1_excel/spreadsheets.rb
!/app/services/the_hacking_project/s3_ruby_intermediaire/j2_envoi_emails/projet_total.rb
!/app/services/the_hacking_project/s3_ruby_intermediaire/j3_poo
!/app/services/the_hacking_project/s3_ruby_intermediaire/j4_tic_tac_toe
