<h1>AJAX TEST PARTIAL</h1>

<%= form_tag remote: true do  %>
  <%= text_area_tag(:message, "Hi, nice site", size: "24x6")                     %>
  <%= submit_tag("Search")                         %>
<% end %>
