
Body
{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;

}


header
{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row-reverse;
  align-items:center;

  justify-content:space-around;
  align-items:center;
  align-content:center;
  margin:auto;;

  height: 100px;
  width: 1000px;

  font-size:10;

}

section
{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items:center;

  justify-content:center;
  align-items:center;
  align-content:center;
  margin: auto;


  height: 800px;
  width: 1000px;

}

footer
{
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  align-content:center;




  max-height: 2000;
  max-width: 1000;
  height:auto:
  width:auto;
}

.LogoGoogle{
            display: flex;
            flex-wrap:wrap;


            height: 100px;
            width: 500px;

            border: 2px white solid;

            margin-left: auto;
            margin-right: auto;
}

.buttGoogle{
            display: flex;
            flex-wrap:wrap;
            flex-direction: column;


            height: 100px;
            width: 500px
}


.PhraseDom{



}






.bloc:nth-child(1){flex:2;}
.bloc:nth-child(2){flex:2;}
.bloc:nth-child(3){flex:2;}
.bloc:nth-child(4){flex:4;}
.bloc:nth-child(5){flex:2.5;}
.bloc:nth-child(6){flex:2;}
.bloc:nth-child(7){flex:2;}
{

}

.bloc1:nth-child(1){flex:1;}
.bloc1:nth-child(2){flex:1;}
.bloc1:nth-child(3){flex:1.8;}
.bloc1:nth-child(4){flex:1.5;}
.bloc1:nth-child(5){flex:15;}

.rechercheBar
{
    box-shadow: 0px 2px 4px 2px rgb(200,200,200);
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-content:center;
}


.rechercheBar:hover
        {
          box-shadow: 0px 2px 4px 2px rgb(200,200,200);
          border:none;
          outline:none;
        }

.rechercheB:nth-child(1){border: 2px black solid;}
.rechercheB:nth-child(2){border: 2px black solid;}


.PhraseDom{
            padding-right: 1em;
            padding-left: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
}
.rechercheBar
{

  height: 25;
  width: 500;
  border: 2px black solid;

  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  align-content:center;

}
