<!DOCTYPE html>
<html>
<head>
  <title>Eventbrite</title>
  <%= stylesheet_link_tag    "eventbrite/application", media: "all" %>
  <%= javascript_include_tag "eventbrite/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
