<% if false %>
<h1>Editing User</h1>

<%= render 'form', user: @user %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<% end %>







    <header id = "titre">  <h1>intuit</h1>  </header>

    <div>

      <header id = "slogan">  <h2>One Account.</br> Everithing Intuit.</h2>  </header>

      <form action="/users">
        <fieldset>
            <label for="email">Email address</label>
            <input type="text" id="email" name="emailaddress" placeholder="Your email..">
            <span></span>
        </fieldset>


        <fieldset>
            <label for="phone">Phone (recommended)</label>
            <input type="text" id="phone" name="phonenumber" placeholder="Your phone number..">
            <span id="sms-warning">Standard call, messaging or data rates may apply.</span>
        </fieldset>


        <fieldset>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your secret password..">
            <span></span>
        </fieldset>


        <fieldset>
            <input type="submit" id="submit" value="Create Account">
        </fieldset>
      </form>


      <footer id="validation">  By clicking Create Account, you agree to our
                License Agreement and Privacy Statement.      </footer>
    </div>

    <footer id="copyright">  Copyright &copy; intuit  </footer>
