<h1>S2DecouverteRuby::J1InitRuby</h1>


<%= render 'bloc_service', title: "The cesar code",       task: "cesar",        post_remote: projects_oeuvres2_1_path, display_msg: "encrypted message => 2", display_text: false, display_search: true, display_number: true, remote: true, action: "post"%>
<%= render 'bloc_service', title: "The Sum of Multiples", task: "multiplesum",  post_remote: projects_oeuvres2_1_path, display_msg: "2,3,7,8 => 26", display_text: false, display_search: true, display_number: true, remote: true, action: "post"%>
<%= render 'bloc_service', title: "The Stock Pikcker",    task: "trader",       post_remote: projects_oeuvres2_1_path, display_msg: "10,2,5,15,12,13,8,16,2 ", display_text: false, display_search: true, display_number: false, remote: true, action: "post"%>
<%= render 'bloc_service', title: "Le Décompte de Mots",  task: "decomptemots", post_remote: projects_oeuvres2_1_path, display_msg: "let in a => let's complet in aramind the lett'in", display_text: true, display_search: true, display_number: false, remote: true, action: "post"%>


<pre>






What
To solve a problem
To seize an opportunity

When
how coordinates, how to use

Write
Executive summary:
Background: History, Requirement, Solutions
Proposition: Vision/Goals, Ressources, Issues/Risks, Implications, Autorisations


Executive summary:
Background: from THP, ,Uses AJAX
Proposition: To script an text, [.chr .ord], no risks, no implications, none autorisations

# /home/syb8/Documents/Projet/All_Projects_WSL/all-projects/app/services/the_hacking_project/s2_decouverte_ruby/j1_init_ruby/chiffre_de_cesar.rb
# TheHackingProject::S2DecouverteRuby::J1InitRuby::ChiffreDeCesar.new.chiffre_de_cesar("test", 27)
</pre>
