<!DOCTYPE html>
<html>
<head>
  <title>C v</title>
  <%= stylesheet_link_tag    "c_v/application", media: "all" %>
  <%= javascript_include_tag "c_v/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
