<h1>S7_HTML_CSS::J4_Landing_Pages</h1>


<%= render 'bloc_service', title: "1 checkr", task: "checkr", post_remote: projects_oeuvres7_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "2 flynn" , task: "flynn", post_remote: projects_oeuvres7_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "3 sparks", task: "sparks", post_remote: projects_oeuvres7_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
