@font-face {
  font-family: 'lcd';
  src: url('lcd.ttf') format('truetype');
}

html {
	box-sizing: border-box;
    font-family: 'lcd', 'Orbitron', sans-serif;
    
}


body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;


}

h1 {

    text-align: center;
    font-size: 60px;
}

.calculatrice{
  width: 339px;
  background: black;
  margin: 30px auto 0;
  border-radius: 5px;
  padding: 30px;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  
  
}

#screen {
  width: 92%;
  height: 55px;
  font-size: 40px;
  border-radius: 5px;
  text-align: right;
  background-color: #657D62;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  padding: 15px 4% 0;
  overflow: hidden;
  font-family: 'lcd', sans-serif;
}

button{
  width: 70px;
  display: inline-block;
  font-size: 50px;
  margin-right: 15px;
  border: 0;
  background: gray;
  border-radius: 4px;
  box-shadow: 0 4px 0 rgb(90, 90, 90);
  color: #fff;
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button.last{
  margin-right: 0;
}

button.btn-clear{
  width: 100%;
  margin-top: 15px;
  box-shadow: 0 4px 0 #cc0000;
  background: #ed4949;
  font-size: 25px;
}

button.btn-clear:active {
  box-shadow: 0 2px 0 rgb(90, 90, 90);
  transform: translateY(2px);
}

.button-rows{
  margin-top: 15px;
}

.row{
  margin-bottom: 15px;
}


button:active {
  box-shadow: 0 2px 0 rgb(90, 90, 90);
  transform: translateY(2px);
}

button.eval{
  box-shadow: 0 4px 0 rgb(230, 140, 0);
  background: orange;
}

button.eval:active {
  box-shadow: 0 2px 0 rgb(230, 140, 0);
  transform: translateY(2px);
}
