<!DOCTYPE html>
<html>
<head>
  <title>Formulaire stylay</title>
  <%= stylesheet_link_tag    "formulaire_stylay/application", media: "all" %>
  <%= javascript_include_tag "formulaire_stylay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
