<div >
  <form action="/users"  accept-charset="UTF-8" method="post">
    <fieldset>
        <label for="project">Poject n°</label><br>
        <input type="text" id="project" name="project" placeholder="something.." value= <%= titre %> ><br>
        <span id="sms-warning">messaging or ...</span><br>
        <input type="submit" id="submit" value="Create"  name="commit">
    </fieldset>
  </form>
</div>
