<div >
  <form name= "bloc_projet" accept-charset="UTF-8" method="get" action= <%= method_controler %> >
    <fieldset>
        <label for="project">Poject n° <%= nb %></label><br>
        <input type="text" id="project" name="project" placeholder="something.." value= <%= titre %> ><br>
        <span id="sms-warning">messaging or ...</span><br>
        <input type="submit" id="submit" value="See Project"  name="commit">
        <%=if false then link_to 'Back', projects_testo_path end%>
    </fieldset>
  </form>
</div>
