<!DOCTYPE html>
<html>
<head>
  <title>The gossip project</title>
  <%= stylesheet_link_tag    "the_gossip_project/application", media: "all" %>
  <%= javascript_include_tag "the_gossip_project/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
