<% the_first_link = 'https://checkr.com/' %>
<% the_secon_link = 'https://flynn.io/' %>
<% the_third_link = 'https://spark.adobe.com/about/video' %>



<header>
  <div class="header_first">
    <div class="header_first_one">
      <ul>
        <li><a class="" href="https://applicant.checkr.com/">  Am an Applicant</a></li>
        <li><a class="" href="https://docs.checkr.com/">        API &amp; Docs</a></li>
        <li><a class="" href="https://checkr.com/about/">             About Us</a></li>
        <li><a class="" href="https://checkr.com/careers/">            Careers</a></li>
      </ul>
    </div>

    <div class="header_first_two">
      <a class="logo ajax" href="https://checkr.com/">Checkr</a>
    </div>

    <div class="header_first_three">
      <ul>
        <li><a data-target="#" href="https://checkr.com/product/">Product <b class="caret"></b></a></li>
        <li> <a data-target="#" href="https://checkr.com/industries/">Industries <b class="caret"></b></a></li>
        <li> <a data-target="#" href="https://checkr.com/resources/">Resources <b class="caret"></b></a></li>
      </ul>

    </div>

    <div class="header_first_four">
      <ul>
        <li><p>Log in</p></li>
        <li><p>get started -> </p></li>
      </ul>
    </div>

  </div>
</header>


<article class="main">
  <section class="section_1">

      <div class="div_1_1">
        <h3>the title</h3>

        <div class="div_1_11">
          <p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>
        </div>

        <div class="div_1_12">
          <a  href="http://checkr.com/product/">EXPLORE NOW</a>
        </div>
      </div>

      <div class="div_1_2">
        <video id="demo-vid_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
        					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
        					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
        					 st
        </video>
      </div>
  </section>

  <section class="section_2">
      <h3 style="text-align: center;"> More Than 10,000 Businesses Trust Checkr for Their Background Screenings </h3>
      <div class="div_2">
         st
         st
         st
         st
         st
      </div>
  </section>

  <section class="section_3">
    <h3 style="text-align: center;"> The Next Generation of Background Checks </h3>



    <div class="div_31">
      <p style="text-align: center;">
      <p style="text-align: center;"><strong>Mobile-Friendly</strong></p>
      <p style="text-align: center;">Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
    </div>

    <div class="div_32">
      <p style="text-align: center;">
      <p style="text-align: center;"><strong>Easy to Understand</strong></p>
      <p style="text-align: center;">Color-coded reports and an intuitive interface makes it possible to review information faster. <a href="http://checkr.com/sample-report/">See a sample employee background report.</a></p>

    </div>

    <div class="div_33">
      <p style="text-align: center;">
      <p style="text-align: center;"><strong>Convenient Automation</strong></p>
      <p style="text-align: center;">Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>

    </div>

    <div class="div_34">
      <p style="text-align: center;">
      <p style="text-align: center;"><strong>Simplified and Compliant Communication</strong></p>
      <p style="text-align: center;">Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>

    </div>

    <div class="div_35">
      <p style="text-align: center;">
      <p style="text-align: center;"><strong>Fast and Accurate</strong></p>
      <p style="text-align: center;">Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>

    </div>

  </section>

  <section class="section_4">
    <h3 style="text-align: center;">Tailored to Fit Your Industry’s Needs</h3>


    <div class="div_4">
      <a href="https://checkr.com/industries/contact-centers/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2017/03/Smiling-worker-doing-her-job-with-a-headset-while-looking-at-the-camera.jpeg&quot;);">
          <div class="content"> <span class="h6">Contact Centers&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
          <div class="content hover">		<span>Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center.</span> </div>
        </div>
      </a>

      <a href="https://checkr.com/industries/financial-services/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/10/checkr_home_financial2x.jpg&quot;);">
          <div class="content">
            <span class="h6">Financial Services&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span>	</div>
        <div class="content hover"> <span>Screening solutions that help protect critically sensitive data.</span></div>
        </div>
      </a>

      <a href="https://checkr.com/industries/retail-hospitality/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/10/checkr_home_retail2x-1.jpg&quot;);">
          <div class="content"> <span class="h6">Retail &amp; Hospitality&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
          <div class="content hover"> 	<span>Combat high employee turnover with comprehensive screening solutions.</span> 	</div>
        </div>
      </a>


      <a href="https://checkr.com/industries/on-demand-economy/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/10/checkr_home_on-demand2x.jpg&quot;);">
          <div class="content"> <span class="h6">On-Demand Economy&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
          <div class="content hover">		<span>Full-service employment screening tools that help you make confident decisions and remain compliant.</span> </div>
        </div>
      </a>

      <a href="https://checkr.com/industries/p2p-marketplaces/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/12/checkr_home_p2p_alt.jpg&quot;);">
          <div class="content"> <span class="h6">P2P Marketplaces&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
          <div class="content hover"> <span>Full-service employment screening tools to help you remain compliant while you grow.</span></div>
        </div>
      </a>

      <a href="https://checkr.com/industries/software-and-technology/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/10/checkr_home_softwaretech2x.jpg&quot;);">
          <div class="content"> <span class="h6">Software &amp; Technology&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
          <div class="content hover">		<span>Screening solutions to support the protection of your product development.</span> 	</div>
        </div>
      </a>

      <a href="https://checkr.com/industries/healthcare/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/10/checkr_home_healthcare2x.jpg&quot;);">
          <div class="content"> <span class="h6">Healthcare&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
          <div class="content hover"><span>Employment screening solutions to help you provide a safe environment for your patients and staff.<br></span> </div>
        </div>
      </a>

      <a href="https://checkr.com/industries/nonprofit/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/10/checkr_home_nonprofit2x.jpg&quot;);">
          <div class="content"> <span class="h6">Non Profit&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
          <div class="content hover">		<span>Protect your workplace or community and your reputation with scalable, cost-effective, rapid screening solutions.<br></span> 	</div>
        </div>
      </a>

      <a href="https://checkr.com/industries/staffing/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/10/checkr_home_staffing2x.jpg&quot;);">
          <div class="content">
            <span class="h6">Staffing&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
          <div class="content hover">		<span>The versatility you need to manage change and operate efficiently.</span> 	</div>
          </div>
      </a>

      <a href="https://checkr.com/industries/small-business/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/10/checkr_home_smallbusiness2x.jpg&quot;);">
          <div class="content">
            <span class="h6">Small Business&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span> 	</div>
        <div class="content hover">		<span>Full-service employment screening tools that help you make confident decisions and remain compliant.<br></span> </div> </div>
      </a>

      <a href="https://checkr.com/industries/higher-education/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/12/checkr_home_highereducation2x.jpg&quot;);">
          <div class="content"> <span class="h6">Higher Education&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span> </div>
          <div class="content hover">		<span>Screening solutions to help you provide a secure environment for your students, faculty, and staff.</span> 	</div>
        </div>
      </a>

      <a href="https://checkr.com/industries/manufacturing/" >
        <div class="img-blur"  style="background-image: url(&quot;https://checkr.com/wp-content/uploads/2015/12/checkr_home_manufacturing.jpg&quot;);">
          <div class="content">      <span class="h6">Manufacturing&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></span></div>
            <div class="content hover">	<span>Customize and automate multiple screening packages for different jobs and requirements.</span> 	</div>
        </div>
      </a>

      <a href="/contact" class="column post-preview contact-filler">
      	<div class="content">
      		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="26.2px" height="25.4px" viewBox="0 0 26.2 25.4" style="enable-background:new 0 0 26.2 25.4;" xml:space="preserve"><style type="text/css">.real-black{fill:#122531;}</style><defs></defs><path class="real-black" d="M20.2,25.4c-0.5,0-0.9-0.2-1.2-0.5l-4.7-4.7H3.8c-2.1,0-3.8-1.7-3.8-3.8V3.8C0,1.7,1.7,0,3.8,0h18.7c2.1,0,3.8,1.7,3.8,3.8v12.7c0,2.1-1.7,3.8-3.8,3.8H22v3.4C22,24.6,21.2,25.4,20.2,25.4z M3.8,2C2.8,2,2,2.8,2,3.8v12.7c0,1,0.8,1.8,1.8,1.8h11.4l4.8,4.8v-4.8h2.5c1,0,1.8-0.8,1.8-1.8V3.8c0-1-0.8-1.8-1.8-1.8H3.8z"></path><path class="real-black" d="M11.9,10.9c0-1.8,2.2-2,2.2-3c0-0.5-0.4-0.9-1.2-0.9c-0.7,0-1.4,0.4-1.8,0.9L9.8,6.6c0.8-0.9,2-1.5,3.3-1.5c1.9,0,3.1,1,3.1,2.4c0,2.2-2.5,2.4-2.5,3.6c0,0.2,0.1,0.5,0.3,0.6l-1.6,0.5C12.1,11.9,11.9,11.5,11.9,10.9z M11.9,14.3c0-0.7,0.6-1.2,1.2-1.2c0.7,0,1.2,0.6,1.2,1.2s-0.6,1.2-1.2,1.2C12.4,15.5,11.9,14.9,11.9,14.3z"></path></svg>
      		<p>Didn’t find what you were looking for?</p>
      		<hr>
      		<p class="h6">Contact us&nbsp;<svg class="icon arrow"><use xlink:href="#arrow"></use></svg></p>
      	</div>
      </a>
    </div>
  </section>


  <section class="section_5">
    <h3 style="text-align: center;">Best in Class Compliance and Security</h3>

    <div class="div_5">
      <div class="div_51">
        <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-magnify_glass.svg" class="aligncenter">
          <p>Screenings</p>
          <ul>
            <li>Criminal Records</li>
            <li>Driving Records</li>
            <li>Employment Verifications</li>
            <li>International Verifications</li>
            <li>Drug screening</li>
          </ul>
          <p><a class="button borderless with-arrow" href="http://checkr.com/product/screenings/">REVIEW ALL OF CHECKR’S SCREENING SERVICES</a></p>
      </div>


      <div class="div_52">
          <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-user_check.svg" class="aligncenter">
          <p>Compliance</p>
          <ul>
            <li>Compliant with state and federal laws, including FCRA</li>
            <li>NAPBS accreditation</li>
            <li>Experienced in-house compliance and investigation team</li>
          </ul>
          <p><a class="button borderless with-arrow" href="http://checkr.com/product/compliance/">VISIT OUR COMPLIANCE LEARNING CENTER</a></p>
      </div>


      <div class="div_53">
          <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-lock_alt.svg" class="aligncenter">
          <p>Security</p>
          <ul>
            <li>Data encrypted using bank-grade standards</li>
            <li>Non-stop monitoring</li>
            <li>Infrastructure built for high availability</li>
          </ul>
        <p><a class="button borderless with-arrow" href="http://checkr.com/product/security/">SEE WHY WE’RE TRUSTED BY WORLD-CLASS COMPANIES</a></p>
      </div>
    </div>
  </section>


  <section class="section_6">
    <h3 style="text-align: center;">Information for Applicants</h3>

    <div class="div_6">
      <div class="div_6_1">
        <p><strong>Checkr provides the support you deserve.</strong></p>
        <ul>
          <li>Responsive U.S.-based customer service</li>
          <li>Status tracking available through the applicant portal</li>
          <li>Support available by phone or email</li>
        </ul>
        <p><a class="button borderless with-arrow" href="https://applicant.checkr.com/">Visit CHECKR’S APplicant Portal</a></p>
      </div>

      <div class="div_6_2">
        <p>“First of all, thank you for informing me of the progress regarding your process. That is not only professional but exemplifies a degree of courtesy other companies would be smart to model.”</p>
        <div class="testimonial">
          <figure id="1870" class="progressive_image has_zoom totally-loaded" width="" height="" style="max-width:100px;" itemscope="" itemtype="http://schema.org/ImageObject"><div class="aspect_ratio_placeholder" style="max-width:100px;"><div class="aspect_ratio_fill" style="padding-bottom:100%;"></div><div class="progressiveMedia is-imageLoaded" style="max-width:100px;"><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/user-76x76.gif" class="low-quality-image" style="max-width:100px;" itemscope="contentUrl" content="">
              <picture src="/wp-content/uploads/2015/10/user.gif"><source srcset="/wp-content/uploads/2015/10/user.gif" media="(max-width:640px)"><source srcset="/wp-content/uploads/2015/10/user.gif" media="(min-width:640px)"><source srcset="/wp-content/uploads/2015/10/user.gif" media="(min-width:1000px)"><img srcset="/wp-content/uploads/2015/10/user.gif" alt="…" data-action="zoom" data-src="/wp-content/uploads/2015/10/user.gif">
              </picture>
              <noscript><img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/user.gif" data-action="zoom" />
              </noscript></div></div>
          </figure>
          <p><strong>Peter D.</strong></p>
          <p>Grubhub&nbsp;applicant</p>
        </div>
      </div>
    </div>

  </section>

  <section class="section_7">
    <div class="div_71">
        <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/fake-promo.png">
    </div>
    <div class="div_72">
        <p class="h1">Take a Tour</p>
        <p>See why Checkr is the most reliable option for your background check needs.</p>
    </div>
    <div class="div_73">
        <a href="https://checkr.com/contact/" class="button blue with-arrow">Schedule a Demo</a>
    </div>
  </section>
</article>








<footer>

  <div class="container">

  		<div class="column footer-product">
  			<h4>Product</h4>
  			<ul id="menu-footer-product" class="menu"><li class="menu-overview"><a href="https://checkr.com/product/">Overview</a></li>
  <li class="menu-screenings"><a href="https://checkr.com/product/screenings/">Screenings</a></li>
  <li class="menu-compliance"><a href="https://checkr.com/product/compliance/">Compliance</a></li>
  <li class="menu-security"><a href="https://checkr.com/product/security/">Security</a></li>
  <li class="menu-api-docs"><a href="https://docs.checkr.com/">API &amp; Docs</a></li>
  </ul>		</div>

  		<div class="column footer-industries">
  			<h4>Industries</h4>
  			<ul id="menu-footer-industries" class="menu"><li class="menu-overview"><a href="https://checkr.com/industries/">Overview</a></li>
  <li class="menu-contact-centers"><a href="https://checkr.com/industries/contact-centers/">Contact Centers</a></li>
  <li class="menu-financial-services"><a href="https://checkr.com/industries/financial-services/">Financial Services</a></li>
  <li class="menu-retail-hospitality"><a href="https://checkr.com/industries/retail-hospitality/">Retail &amp; Hospitality</a></li>
  <li class="menu-healthcare"><a href="https://checkr.com/industries/healthcare/">Healthcare</a></li>
  <li class="menu-non-profit"><a href="https://checkr.com/industries/nonprofit/">Non Profit</a></li>
  <li class="menu-staffing"><a href="https://checkr.com/industries/staffing/">Staffing</a></li>
  <li class="menu-on-demand-economy"><a href="https://checkr.com/industries/on-demand-economy/">On-Demand Economy</a></li>
  <li class="menu-manufacturing"><a href="https://checkr.com/industries/manufacturing/">Manufacturing</a></li>
  <li class="menu-software-technology"><a href="https://checkr.com/industries/software-and-technology/">Software &amp; Technology</a></li>
  <li class="menu-small-business"><a href="https://checkr.com/industries/small-business/">Small Business</a></li>
  <li class="menu-p2p-marketplaces"><a href="https://checkr.com/industries/p2p-marketplaces/">P2P Marketplaces</a></li>
  <li class="menu-higher-education"><a href="https://checkr.com/industries/higher-education/">Higher Education</a></li>
  </ul>		</div>

  		<div class="column footer-resources">
  			<h4>Resources</h4>
  			<ul id="menu-footer-resources" class="menu"><li class="menu-overview"><a href="https://checkr.com/resources/">Overview</a></li>
  <li class="menu-white-papers"><a href="https://checkr.com/resources/white-papers/">White Papers</a></li>
  <li class="menu-faq"><a href="https://checkr.com/resources/faq/">FAQ</a></li>
  <li class="menu-blog"><a href="http://blog.checkr.com/">Blog</a></li>
  <li class="menu-engineering-blog"><a href="https://medium.com/checkr">Engineering Blog</a></li>
  <li class="menu-applicant-portal"><a href="https://applicant.checkr.com/">Applicant Portal</a></li>
  </ul>		</div>

  		<div class="column footer-company">
  			<h4>Company</h4>
  			<ul id="menu-footer-company" class="menu"><li class="menu-partners"><a href="https://checkr.com/partners/">Partners</a></li>
  <li class="menu-partner-lead-portal"><a href="http://info.checkr.com/checkr-partner-portal">Partner Lead Portal</a></li>
  <li class="menu-about-us"><a href="https://checkr.com/about/">About Us</a></li>
  <li class="menu-bounce-back-to-work"><a href="https://checkr.com/bounce-back-to-work/">Bounce Back to Work</a></li>
  <li class="menu-careers"><a href="https://checkr.com/careers/">Careers</a></li>
  <li class="menu-press"><a href="https://checkr.com/press/">Press</a></li>
  </ul>		</div>

  		<div class="column footer-connect">
  			<h4>Connect</h4>
  			<ul>
  				<li><a href="mailto:hello@checkr.com">hello@checkr.com</a></li>
  				<li><a href="/contact">Contact Us</a></li>
  				<li><a href="/get-started">Get Started</a></li>
  				<li><a href="https://dashboard.checkr.com/login?next=%2Freports" target="_blank">Log In</a></li>
  			</ul>
  				<div class="entry-social-connect">
  								<a target="_blank" href="Https://twitter.com/checkr" title="Checkr on Twitter" class="twitter">
  				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/icon_twitter.svg">
  			</a>
  								<a target="_blank" href="Https://www.facebook.com/checkrio/" title="Checkr on Facebook" class="facebook">
  				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/facebook.svg">
  			</a>
  								<a target="_blank" href="Https://www.linkedin.com/company/checkr-com" title="Checkr on Linkedin" class="linkedin">
  				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/linkedin.svg">
  			</a>
  								<a target="_blank" href="Https://www.instagram.com/checkr_" title="Checkr on Instagram" class="instagram">
  				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/instagram.svg">
  			</a>
  								<a target="_blank" href="Https://angel.co/checkr" title="Checkr on Angellist" class="angellist">
  				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/angellist.svg">
  			</a>
  			</div>
  		</div>

  		<div class="footer-info">
  			<ul>
  				<li><a href="/customer-agreement">Customer Agreement</a></li>
  				<li><a href="/privacy-policy">Privacy Policy</a></li>
  				<li><a href="/terms-of-service">Terms of Service</a></li>
  				<li><a>© 2017 Checkr, Inc.</a></li>
  			</ul>
  		</div>

  		<div class="napbs-seal">
  			<a href="https://portal.napbs.com/i4a/member_directory/feResultsListing.cfm?directory_id=12" target="_blank">NAPBS Accredited as an Employment Screening Agency by the Background Screening Credentialing Council</a>
  		</div>
  	</div>

</footer>























<table>

  <thead>
    <tr>
      <th></th>
      <th>Checkr</th>
      <th>Flynn</th>
      <th colspan="3">Sparks</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'Destroy ', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'The real form ', the_first_link %></td>
        <td><%= link_to 'The real form ', the_secon_link %></td>
        <td><%= link_to 'The real form ', the_third_link %></td>

      </tr>

  </tbody>

</table>
