<h1>S4_Initiation_Rails::J4_Base_de_Donnees</h1>


<%= render 'bloc_service', title: "1 Base De Donnees", task: "BDD", post_remote: projects_oeuvres4_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
