<h1>S4_Initiation_Rails::J3_CRUD_style_PV</h1>


<%= render 'bloc_service', title: "1 The Gossip Project", task: "gossip", post_remote: the_gossip_project_path, display_text: false, display_search: true, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "2 THP Moussaillons" ,  task: "moussaillon", post_remote: projects_oeuvres4_3_path, display_text: false, display_search: true, display_number: false, remote: false, action: "get"%>


<pre>






What
To solve a problem
To seize an opportunity

When
how coordinates, how to use

Write
Executive summary:
Background: History, Requirement, Solutions
Proposition: Vision/Goals, Ressources, Issues/Risks, Implications, Autorisations


Executive summary:
Background: from THP, ,Uses AJAX
Proposition: To script an text, [.chr .ord], no risks, no implications, none autorisations

# /home/syb8/Documents/Projet/All_Projects_WSL/all-projects/app/services/the_hacking_project/s2_decouverte_ruby/j1_init_ruby/chiffre_de_cesar.rb
# TheHackingProject::S2DecouverteRuby::J1InitRuby::ChiffreDeCesar.new.chiffre_de_cesar("test", 27)
</pre>
