<h1>S1_Introduction_code::J4_Javascript</h1>


<%= render 'bloc_service', title: "1 Google Page", task: "google", post_remote: projects_oeuvres1_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "2 Mozilla Page" ,  task: "mozilla", post_remote: projects_oeuvres1_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
