<!DOCTYPE html>
<html>
<head>
  <title>Twitter bis</title>
  <%= stylesheet_link_tag    "twitter_bis/application", media: "all" %>
  <%= javascript_include_tag "twitter_bis/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
