/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
// @import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

/*markdown*/
@import "github";

/*
https://pdabrowski.com/blog/ruby/code-syntax-highlighting-in-rails-app/
http://www.jasonramirez.com/posts/rails-markdown-syntax-highlighting
class RougeRenderer < Redcarpet::Render::HTML
  require "rouge"
  require "rouge/plugins/redcarpet"

  include Rouge::Plugins::Redcarpet
end
RougeRenderer.new(render_options = {})
<%= Redcarpet::Markdown.new(BlogRender, fenced_code_blocks: true).render(@article.content).html_safe %>
Gemfile:    gem "rouge-rails"
autumn.scss,		borland.scss,		bw.scss,		colorful.scss,		colorschemes.scss,		default.scss,		emacs.scss,		friendly.scss,		fruity.scss,		github.scss,		manni.scss,		monokai.scss,		murphy.scss,		native.scss,		pastie.scss,		perldoc.scss,		solarized-dark.scss,		solarized-light.scss,		tango.scss,		trac.scss,		vim.scss,		vs.scss,		zenburn.scss
rougify style github > app/assets/stylesheets/github.css
application.scss:   @import "github";
*/
