<!DOCTYPE html>
<html>
<head>
  <title>Re former</title>
  <%= stylesheet_link_tag    "re_former/application", media: "all" %>
  <%= javascript_include_tag "re_former/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
