<!DOCTYPE html>
<html>
<head>
  <title>Usine</title>
  <%= stylesheet_link_tag    "usine/application", media: "all" %>
  <%= javascript_include_tag "usine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
