<h1>S4_Initiation_Rails::J3_CRUD_style_PV</h1>


<%= render 'bloc_service', title: "1 Twitter Bis  ",   task: "twitter_bis", post_remote: projects_oeuvres6_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "2 Rails Service " , task: "rails_service", post_remote: projects_oeuvres6_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
