<h1>S2DecouverteRuby::J4Nokogiri</h1>


<%= render 'bloc_service', title: "liste des incubateurs FR",   task: "incubateur",    post_remote: projects_oeuvres2_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "liste du cours des cryptos", task: "obscur_trader", post_remote: projects_oeuvres2_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "liste contact mairie dept",  task: "route_mairie",  post_remote: projects_oeuvres2_4_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
